@using Microsoft.AspNetCore.Components.Authorization
@using BillingSys.Client.Services
@inject GoogleAuthService GoogleAuth
@inject NavigationManager Navigation

<AuthorizeView>
    <Authorized>
        <span class="user-name">@context.User.Identity?.Name</span>
        <button type="button" class="btn-signout" @onclick="SignOut">Sign out</button>
    </Authorized>
    <NotAuthorized>
        <button type="button" class="btn-signin" @onclick="SignIn">Sign in</button>
    </NotAuthorized>
</AuthorizeView>

@code {
    #region Event Handlers

    private async Task SignOut()
    {
        await GoogleAuth.SignOutAsync();
        Navigation.NavigateTo("", forceLoad: false);
    }

    private async Task SignIn()
    {
        await GoogleAuth.SignInAsync();
    }

    #endregion
}
