{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "FUNCTIONS_WORKER_RUNTIME": "dotnet-isolated",
    "SqlConnectionString": "",
    "AzureAd__TenantName": "tech85",
    "AzureAd__ClientId": "YOUR_SPA_CLIENT_ID",
    "AllowedEmailDomain": "tech85.com",
    "QBO_REALM_ID": "",
    "QBO_CLIENT_ID": "",
    "QBO_CLIENT_SECRET": ""
  },
  "Host": {
    "CORS": "*",
    "CORSCredentials": true
  }
}
